<div class="border rounded border-indigo-600 p-2 relative">
  <h4 class="text-lg font-bold my-1"><%= post.title %></h4>
  <p class="text-sm mb-4 p-1">
    <% if text_long?(post.text) %>
      <%= trimm_text(post.text) %>
    <% else %>
      <%= post.text %>
    <% end %>
  </p>
  <span class="absolute bottom-1 right-1 text-xs">
    <%= "Comments: #{post.commentscounter}, Likes: #{post.likescounter}" %>
  </span>
</div>

