<div class="post_card">
  <h4 class="post_card__title"><%= post.title %></h4>
  <p class="post_card__text">
    <% if post.text.size > 150 %>
      <%= "#{post.text[0,150]}..." %>
    <% else %>
      <%= post.text %>
    <% end %>
  </p>
  <span class="post_card__counters">
    <%= "Comments: #{post.commentscounter}, Likes: #{post.likescounter}" %>
  </span>
</div>

