<div class="users__card">
  <img class="users__card_image" src=<%= user.photo %> alt=<%= "#{user.name}'s photo"%>>
  <div class="users__card_info">
    <span class="users__card_name"><%= user.name %></span>
    <span class="users__card_posts">Number of posts: <%= user.postscounter%></span>
  </div>
</div>    