<section>
  <%= render "shared/user_card", user: @author %>
  <div>
    <%= render @author.posts.order(id: :desc), show_comments: true, all_comments: false %>
  </div>
  <button class="btn-primary block mx-auto w-full" type="button">Pagination</button>
</section>

