.user {
  padding: 2rem;
}

.user__bio {
  border: 2px solid black;
  min-height: 150px;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
}

.bio__title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.user__posts_btn {
  margin-inline: auto;
  padding: 0.5rem;
}
